<section class="about-us">
    <div class="about-content">
      <h1 class="about-title">ABOUT US</h1>
      <p class="about-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button class="learn-more-button">LEARN MORE</button>
    </div>
    <div class="about-image">
      <img src="assets/about-us.png" alt="About Us Illustration" />
    </div>
  </section>
  <app-live-count></app-live-count>
  